.hg/
.sass-cache/
.settings/
node_modules/
vendor/
data/
tmp/
build/
!build/travis-ci-apache
html-report/
public/vendor/
public/upload/
public/css/admin.css
public/css/application.css
.buildpath
.project
composer.lock
config/autoload/local.php
phpunit.xml

*.sublime*
