<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="module/ComicCmsTestHelper/test/Bootstrap.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    checkForUnintentionallyCoveredCode="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <php>
        <includePath>.</includePath>
        <env name="BJYAUTHORIZE_IDENTITY_PROVIDER" value="User\Provider\Identity\UserIdentityProviderMock"/>
        <const name="PHPUNIT" value="PHPUNIT"/>
    </php>
    <testsuites>
        <testsuite name="application">
            <directory suffix=".php">./module/Admin/test/AdminTest/Controller</directory>
            <directory suffix=".php">./module/Application/test/ApplicationTest/Controller</directory>
            <directory suffix=".php">./module/Application/test/ApplicationTest/View</directory>
            <directory suffix=".php">./module/Comic/test/ComicTest/Controller</directory>
            <directory suffix=".php">./module/User/test/UserTest/Controller</directory>
            <directory suffix=".php">./module/User/test/UserTest/Entity</directory>
        </testsuite>
        <testsuite name="acl">
            <directory suffix=".php">./module/Admin/test/AdminTest/ACL</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./build/logs/report" lowUpperBound="90" highLowerBound="95"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module/Admin/src/</directory>
            <directory suffix=".php">./module/Application/src/</directory>
            <directory suffix=".php">./module/Assets/src/</directory>
            <directory suffix=".php">./module/Comic/src/</directory>
            <directory suffix=".php">./module/User/src/</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
                <!-- Entities as for now just copies of Doctrine docs, so no need for tests. -->
                <directory suffix=".php">./module/Assets/src/Assets/Entity/</directory>
                <directory suffix=".php">./module/Comic/src/Comic/Entity/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>