%highligtable-list-group-item
    cursor: pointer

    .title
        font-size: 18px
        margin: 0

    hr
        margin: 10px 0 10px 0

    &.active
        cursor: default
        background-color: $color-admin-background
        border-color: darken($color-admin-background, 10%)

%dialog-delete-actions
    height: 37px

    .btn-danger
        position: absolute
        right: 1em
        z-index: 1