.admin-auth {
  width: 600px;
  margin: 3em auto 0px;
}
.admin-auth form {
  margin: 1.5em 3em 0.75em;
}
.admin-auth form .ng-dirty.ng-invalid-email.ng-valid-minlength {
  background-color: #ffcccc;
}
.admin-auth form h2 {
  margin-bottom: 1em;
}
.admin-auth form .alert {
  display: inline-block;
  width: 100%;
  margin: -1em 0 0;
}
.admin-auth .remember {
  margin-bottom: 2.25em;
}
.admin-auth .submit {
  text-align: center;
}
.admin-auth .submit button {
  width: 100%;
}

body.admin {
  background-color: #BFE4FF;
}
