[ng-app="admin"]
    position: relative

[ng-app="admin"]
    a
        cursor: pointer
        text-decoration: none

    .nav
        padding: 1em 1em 0
        background-color: $color-admin-dark-background

        a
            background-color: $color-admin-background

    .user
        position: absolute
        top: 0
        right: 0

        .user-actions
            padding-top: 1em
            padding-right: 1em

            ul
                margin-right: 1em

    .row
        margin: 1em

    .widget .alert
        text-align: center

    .widget .loading
        opacity: 0.5
        pointer-events: none


[ng-controller="ComicsController"]
    .navbar
        margin-bottom: 0

    .comics
        .list-group-item
            cursor: pointer

            .title
                font-size: 18px
                margin: 0

            hr
                margin: 10px 0 10px 0

        .list-group-item.active
            cursor: default
            background-color: $color-admin-background
            border-color: darken($color-admin-background, 10%)

        .label.title
            font-size: 14px

    .admin-comics-list
        position: relative

        svg
            position: absolute
            right: -45px

            path
                stroke: $color-admin-dark-background
                stroke-width: 1px
                fill: transparent


[ng-controller="ComicsEditController"]

    textarea
        resize: vertical
        max-height: 10em

    .actions
        height: 1.4em
